div .container_1{
    background-color: white;
}
div .h1_title{
    padding: 1rem 2rem 1rem 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: var(--mainColorBackground);
}
div. teacher{
    position: inherit;
}
div .h1_button{
    padding: 1rem 2rem 1rem 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--btnBlue);
    border-radius: 10px;
    color: #FFFFFF;
}
div .background_color_orange{
    position: inherit;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: #D9895B;
    border: 1px solid #000000;
    padding: 0;
}
div .white_word{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    padding-left: 4rem;
    color: #FFFFFF;
}
div .arrow{
    font-size: 2rem;
}
div .blue_button_uppercase{
    background-color: #4184BF;
    padding:2rem 1.5rem 2rem 1.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}