.App {
  text-align: center;
  background-color: var(--secondaryColor);
}


:root{
  --mainColorBackground:#f4ddcf;
  --mainColorLightBackground:#ffffff;
  --secondaryColor:#d9895b;
  --textColor:#000000;
  --textColorWhite:#ffffff;
  --btnBlue:#4184bf;
}


